---
import Base from '../layouts/Base.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Demo from '../components/Demo.astro';
import Features from '../components/Features.astro';
import SttTable from '../components/SttTable.astro';
import InstallSection from '../components/InstallSection.astro';
import PrivacyBlock from '../components/PrivacyBlock.astro';
import SocialProof from '../components/SocialProof.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Navbar />
  <main>
    <Hero />
    <Demo />
    <Features />
    <SttTable />
    <InstallSection />
    <PrivacyBlock />
    <SocialProof />
    <Faq />
  </main>
  <Footer />
</Base>
